.container {
  text-align: center;
  border: 2px solid;
  max-width: 550px;
  margin: 50px auto;
  padding: 0.5rem;
}
.heading {
  font-size: 200%;
  font-family: cursive;
  border-bottom: 2px solid red;
  /* padding: 1rem; */
}

/* .inputcontainer { */
/* } */

.row1 {
  padding: 1rem;
}

.inputfield {
  border: transparent;
  background-color: thistle;
  /* border: 3px solid blue; */
  padding: 1rem;
}
