body {
  background-color: #27272a;
}

.container {
  text-align: center;
  border: 2px solid;
  max-width: 250px;
  margin: 50px auto;
  padding: 0.5rem;
  background: black;
  border-radius: 10px;

  box-shadow: 0 0 5px ghostwhite, 0 0 5px #a1a1aa;
}
.heading {
  font-size: 200%;
  font-family: cursive;
  border-bottom: 5px solid #f59e0b;
  color: antiquewhite;
  /* padding: 1rem; */
}

/* .inputcontainer { */
/* } */

.inputfield {
  text-align: right;
  margin: 0 auto;
  display: block;
  border: transparent;
  background-color: #525252;
  /* border: 3px solid blue; */
  padding: 1rem;
  max-width: 70%;
  font-size: larger;
  cursor: pointer;
  color: white;
  margin-bottom: 1rem;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}

.rowcontainer {
  display: inline;
  /* max-width: 30px; */
  /* width: 40%; */

  /* border: 2px solid tomato; */
}
.row1 {
  display: inline-block;
  /* padding: 1rem; */
  /* border: 1px solid gold; */
}

.btn-field {
  display: block;
  padding: 1.1rem;
  margin: 0.2rem;
  font-size: large;
  cursor: pointer;
  background-color: #404040;
  color: white;
  border-radius: 100%;
  /* border-color: transparent; */
}
.btn-field:hover {
  /* border: thistle; */
  /* border-color: white; */
  /* border: 3px solid #71717a; */
  border: thick;
}

.last-row {
  font-size: larger;
  padding: 18.8px;
}
.action-btn {
  padding: 0.7rem;
  width: 41%;
  margin-left: 0.3rem;
  margin-right: 0.2rem;
  margin-top: 0.1rem;
  background-color: #f59e0b;
  font-size: larger;
  border-radius: 10%;
  cursor: grab;
  /* border: transparent; */
}
.action-btn:hover {
  /* border-color: white; */
  /* border: 3px solid white; */
  border: thick;
}
